@font-face {
  font-family: 'pixelFont';
  src: url('/fonts/nokia.ttf') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PacManFont';
  src: url('/fonts/pacman.TTF') format('truetype'); 
  font-weight: normal;
  font-style: normal;
}